.img__logo{
    width: 100px;
    margin-top: 75px;
}

.grid--img{
    width: 100%;
    margin-bottom: 68px;
    border-radius: 30px;
}

.test--img{
    margin-bottom: 68px;
}

.img{
    width: 100%;
    border-radius: 30px;
}

.header--logo{
    display: flex;
    justify-content: center;
  }

  .main--img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 68px;
  }

  @media (min-width: 768px ){
    .grid--img{
        width: 40%;
    }
    .img__main{
        width: 250px;
    }
    .img{
        width: 40%;
        height: 40%;
        margin-top: auto;
    }
    .main--img{
        margin-bottom: 136px;
    }
    .img--portrait{
        width: 30%;
    }
    #videoPlayer{
        margin-right: 40px;
    }
    .img__name{
        margin-top: 50px;
    }
    .img__eco{
        margin-top: 50px;
    }
    .img__logo{
        margin-top: 150px;
    }
}
@media (min-width: 1080px ){
    .videoPlayer{
        width: 500px;
    }
    .grid--name{
        margin-right: -350px;
    }
    .gride--eco{
        margin-left: -350px;
    }
    .img__eco{
        width: 300px;
    }
    .img__name{
        width: 300px;
    }
  
}
